@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root-footer"), $footer-selector: unquote("#footer")) {

  html, body {
    height: 100%;
  }

  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height;
    }
  }

  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height;
  }
}

@include media-breakpoint-up(md) {
  // set the footer height to use a sticky footer
  @include sticky-footer(40px);
}


// Back to top
#backToTop {
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 20px;
  display:none;
}

#backToTop {
  &:hover,
  &:active,
  &:focus {

    .fa {
      color: white!important;
    }
  }
}

#websiteBuilderCredits {
  @media (min-width:768px) {
    margin-left: auto;
  }

  .nav-link {
    padding-right: 0;
  }

  a {
    svg {
      display: inline-block;
      vertical-align: baseline;
      width: 110px;
    }

    &:hover svg g {
      fill: $black;
    }
  }
}
