html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

// Back to top
#backToTop {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

  &:hover,
  &:active,
  &:focus {
    .fa {
      color: white !important;
    }
  }
}

#websiteBuilderCredits {
  @media (min-width: 768px) {
    margin-left: auto;
  }

  .nav-link {
    padding-right: 0;
  }

  a {
    svg {
      display: inline-block;
      vertical-align: baseline;
      width: 110px;
    }

    &:hover svg g {
      fill: $black;
    }
  }
}
