.has-danger {
  .form-control-feedback,
  .form-control-label {
    color: theme-color("danger");
  }

  .form-control {
    border-color: theme-color("danger");
  }
}

.invalid-feedback {
  display: block;
}

abbr[title] {
  border: 0;
  text-decoration: none;
}

select.form-control[size] {
  height: $input-height;
}

/* reCAPTCHA */
// Hide reCAPTCHA badge
.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha-info {
  color: #8a8a8a;
  font-size: .85rem;

  a {
    text-decoration: underline;
    color: #8a8a8a;
  }
}
