{% extends 'Core/Layout/Templates/Base.html.twig' %}

{% block main %}

  <div class="container text-center my-5">
    <div class="spacer py-5">
      {% for block in positions.main %}
        {% if block.html %}
          {{ block.html|raw }}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
